<div id="ww">
    <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 centered">
        <img src="assets/img/user.png" alt="Stanley">
        <h1>{{subject}}</h1>
        <p>{{{text}}}</p>

      </div><!-- /col-lg-8 -->
    </div><!-- /row -->
    </div> <!-- /container -->

    <div class="container pt">



    </div><!-- /container -->

</div><!-- /ww -->
