<!-- ******DOCS****** -->
<div id="grey">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">

            <div class="docs-inner">
              <h2 class="title text-center">{{STUDY_SUBJECT}}</h2>

                <div class="block">
                  <h3 class="sub-title text-center">{{STUDY_COMMENT}}</h3>

                  <div class="">
                    {{{STUDY_CONTENT}}}
                 </div>
               </div><!--//block-->

             </div><!--//docs-inner-->

           </div>
      </div>
    </div>
  </div>
