<!-- +++++ Information Section +++++ -->

<div class="container pt">
  <div class="row mt">
    <div class="col-lg-6">
      <h4>계획</h4>

      <p>
        -Study용 블로그를 만들자!- <br>
        AWS에 spring을 이용한 파일 및 DB 서비스를 구축하고, <br>
        Node기반 Front-end를 공부하고, <br>
        다양한 개인 프로젝트를 진행하자!
      </p>
      <p>
        1단계 : 블로그 빠르게 대충 만들기 <br>
        2단계 : DB / FILE 서버 구축 <br>
        3단계 : 다양한 Front-end 공부하고 블로그에 게시하기 <br>
        4단계 : 블로그 수정하며 발전 시키기
      </p>
      <h4>진행 : 1단계 - 블로그 프로토제작</h4>

    </div><!-- /colg-lg-6 -->

    <div class="col-lg-6">
      <h4>THE SKILLS</h4>
      Java / JSP
      <div class="progress">
        <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
          <span class="sr-only">60% Complete</span>
        </div>
      </div>

      spring framework
      <div class="progress">
        <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
          <span class="sr-only">60% Complete</span>
        </div>
      </div>

      javascript
      <div class="progress">
        <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
          <span class="sr-only">80% Complete</span>
        </div>
      </div>

      Front-end Skill
      <div class="progress">
        <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
          <span class="sr-only">95% Complete</span>
        </div>
      </div>

      HTML/CSS
      <div class="progress">
        <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
          <span class="sr-only">95% Complete</span>
        </div>
      </div>

    </div><!-- /col-lg-6 -->
  </div><!-- /row -->
</div><!-- /container -->
